<div class="modal-header">
  <h4 class="modal-title">Detail About <span style="text-decoration: underline;">{{coctail?.strDrink}}</span></h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row m-t-md"
       *ngFor="let r of rows; let i =index">
    <div class="col-3"
         *ngFor="let field of rowData[i]">
      <div>
        <label><span style="font-weight: bold;">{{field[0]}}:</span> {{field[1]}}</label>

      </div>


    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-outline-dark"
          (click)="activeModal.close('Close click')">Close</button>
</div>